<h2>Add new post</h2>
<p>
	<form action="/new" method="POST" role="form">
		<input type="text" name="username" placeholder="Enter your name" class="form-control" />
		<textarea name="content" class="form-control" rows="6" placeholder="Type post text here" class="form-control"></textarea>
		<button type="submit" class="btn btn-primary">Отправить</button>
	</form>

</p>